.about {
  background-color: #1c1a19;
  width: 330px;
}

.about-me {
  font-size: 30px;
  color: #ff6b00;
  padding-top: 50px;
  font-weight: bold;
}

.aboutme-paragraph {
  color: white;
  padding-left: 20px;
  padding-right: 10px;
}

.vector img {
  width: 330px;
}

hr {
  width: 320px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

ul li:first-child {
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
}

ul {
  list-style-type: none;
  color: white;
}

.intrests-container {
  background-color: white;
  width: 320px;
  padding-left: 10px;
}

.intrest p {
  width: 320px;
  padding-top: 50px;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.input-fname {
  margin-top: 15px;
  width: 320px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-email {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 320px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-area {
  width: 320px;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  background: #fbf8f7;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  color: #979493;
}

.see-projects {
  background-color: #ff6b00;
  outline: none;
  border: none;
  border-bottom: none;
  color: wheat;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}

.exprience {
  margin-top: 60px;
}

.see-projects.touch {
  margin-top: 20px;
  margin-left: 80px;
  padding: 15px 1px 15px 1px;
  width: 150px;
}

.see-projects:hover {
  border: 2px solid #1c1a19;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  height: auto;
  align-items: center;
}

.social-media-container {
  width: 150px;
  padding-left: 60px;
}

.form {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.social-sep {
  width: 120px;
  margin-left: 75px;
  margin-bottom: 50px;
  margin-top: 4px;
  border: 2px solid;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-header {
  display: flex;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}

.experience-header img {
  margin-right: 8px;
}

.spacer {
  height: 80px;
}

.language li + li {
  margin-top: 10px;
}
